.banner{
    background: url(/images/roccat.jpg) no-repeat center top;
    background-size: cover;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    -ms-background-size:cover;
    min-height:520px;
}
.container-padding{
    padding: 170pt 120pt 0 0;
}
.banner-info p{
    font-size: 15pt;
}
.banner-info{
    font-weight: 600;
    margin: 30pt 0 0;
    color: #FFffff;
}
.new-models{
    font-size: 22pt;
}
#items{
    border-top: solid 1px;
    padding-top: 5pt;
}
.info {
    padding: 2pt 0 3pt 0;
}
.good-name h4{
    font-weight: 800;
    font-size: 1.1em;
    color: #393939;
    margin: 0 0 7pt 0;
}
.good-name p{
    font-weight: 800;
    font-size: 1.4em;
    color: #ed1c24;
    margin: 0;
}
.nbs-flexisel-container {
    position: relative;
    max-width: 100%;
}
.item_img {
    width: 20%;
    float: left;
    list-style-type: none;
    margin:0 30pt 0 0;
    padding:0px;
    cursor: pointer;
    position: relative;
}
.column{
    margin-bottom: 10pt;
}
.img-responsive{
    margin-bottom: 10pt;
    cursor: pointer;
    position: relative;
    height: 150pt;
    width: 150pt;
    border-radius: 3px;
}
.products{
    padding: 0 60pt;
}
.banner-bottom{
    margin-top: 50pt;
    height: 15pt;
    background: black;
}